---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<div class="archive">
<h1>All notes</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>
